section.block_s-2
	.container
		.block-title
			.head-title
				h1 Tinh thần TOKYO DELI
			.caption
				p Không gian của Tokyo Deli  Sushi lấy cảm hứng từ không gian truyển thống của người Nhật Bản Đó là một cách sắp xếp không gian nội thất đơn giản, dễ chịu, mang lại bầu không khí bù đắp sự căng thẳng khiến bạn cảm thấy thư giãn hơn.
		.row
			.col-md-8.col-lg-8
				.tinhthan_slide
					.swiper-container
						.swiper-wrapper
							- for (i=1; i<=5; i++)
								.swiper-slide
									.img
										img(src="./img/about/gian-1.png", alt="")
					.swiper-pagination
			.col-md-4.col-lg-4
				.block_content
					.title_content
						h3 Tokyo Deli
						p chi nhánh Tên Lửa
					.content
						p Phong cách thiết kế tinh thần TOKYO DELI  đem đến một cảm giác đầm ấm, yên bình. Các thực khách sẽ có cảm giác thoải mái như đang dùng bữa tại gia đình.