<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <add key="MSSQLConnectionString" value="server=WIN-2GEC19PIQE9;UID=tokyodelicatering138_user;PWD=Z0$Xro0#B4n!N;database=tokyodelicatering138_db" />

  <!-- if running in medium trust uncomment this
	<add key="RunningInMediumTrust" value="true" />
	-->
  <!--
    <add key="SSLIsAvailable" value="true" />
    <add key="ForceSslOnAllPages" value="true" />
    -->
  <add key="UseLegacyCryptoHelper" value="false" />
  <add key="CheckMD5PasswordHashAsFallback" value="false" />
  <add key="ShowRebuildSearchIndexButtonToAdmins" value="true" />

  <add key="UseAppKeepAlive" value="false" />
  <add key="AppKeepAliveUrl" value="" />
  <add key="CombineCSS" value="false" />
  <add key="RedirectNonWWWToWWW" value="false" />
  <add key="DisableBannedIpBlockingModule" value="false" />

  <add key="EnableContentWorkflow" value="false" />

  <!--JQuery Setup-->
  <add key="UseGoogleCDN" value="true" />

  <add key="ForceSingleSessionPerUser" value="false" />
  <add key="AllowedUploadFileExtensions" value=".gif|.jpg|.jpeg|.png|.flv|.swf|.wmv|.mp3|.mp4|.m4a|.m4v|.oga|.ogv|.webma|.webmv|.webm|.wav|.fla|.tif|.asf|.asx|.avi|.mov|.mpeg|.mpg|.zip|.pdf|.doc|.docx|.xls|.xlsx|.ppt|.pptx|.pps|.csv|.txt|.htm|.html" />
  <add key="AudioFileExtensions" value=".wma|.mp3|.m4a|.m4a|.oga|.webma|.webm|.wav|.asf|.asx|.fla" />
  <add key="VideoFileExtensions" value=".flv|.swf|.wmv|.mp4|.m4v|.ogv|.webmv|.webm|.avi|.mov|.mpeg|.mpg" />
  <add key="DocumentFileExtensions" value=".doc|.txt|.docx|.xls|.xlsx|.pdf" />
  <add key="ImageFileExtensions" value=".gif|.jpg|.jpeg|.png" />

  <add key="SetMasterInLoginPage" value="false" />
  <add key="SetMasterInChangePasswordPage" value="false" />
  <add key="SetMasterInPasswordResetPage" value="false" />
  <add key="SetMasterInProfilePage" value="false" />
  <add key="SetMasterInRecoverPasswordPage" value="false" />

  <add key="UseTokensForRecoveryPassword" value="true" />
  <!--<add key="TooManyPagesForGridEvents" value="0" />-->
  <add key="AllowMultipleSites" value="true" />
  <add key="HideAdvancedSettings" value="false" />
  <add key="SuperAdminUserIDs" value="1;10;11" /> 

  <add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value="DD405249905BE71B38D4FD31DF053982134FDA5BF71492C5E447B8A953972E7295C86F88256A8D22AA7F2157716915E93E9847D4D691E441BBA367E7BE8E6549" />
  <add key="Telerik.Upload.ConfigurationHashKey" value="9BABB63AFB93E5A02AD4D2EE2B47B6D63DA33D6F86DABFDD9823977EF640272E58E8BF3F8B22BBF84C38609B0EB2F57756D835959AC06D4AD30117749DA450E1" />
  <add key="Telerik.Upload.AllowedCustomMetaDataTypes" value="Telerik.Web.UI.AsyncUploadConfiguration" />

</appSettings>