footer
	.footer-bottom
		.container
			.row
				.col-sm-4.footer.card
					.card_title
						h4 trụ sở chính
					.card_body
						ul
							li
								span
									span.mdi.mdi-map-marker
								p 26 C - D - E Lê Quốc Hưng, Phường 12, Quận 4, TP.HCM
							li
								span
									i.mdi.mdi-phone
								p (84-24)3826 5888
				.col-sm-4.footer.card
					.card_title
						h4 thông tin điều khoản
					.card_body
						ul
							li
								p Điều khoản sử dụng
							li
								p Chính sách bảo mật
				.col-sm-4.footer.card
					.card_title
						h4 mạng xã hội
					.card_body_icon
						.social-link
							ul
								li
									a(href="#")
										span.ri-facebook-fill
								li
									a(href="#")
										span.ri-youtube-fill
								li
									a(href="#")
										img(src="./img/zalo.png", alt="")
						.notification
							img(src="./img/dangkyfooter.png", alt="")
		.container
			.policy-link
				ul
					li
						a(href="#") Mã số thuế: 0306340691
					li
						a(href="#") Ngày cấp: 17/12/2008
					li
						a(href="#") Nơi cấp: Chi Cục Thuế Quận 1
			.copyright
				p Copyright © 2020 Tokyo Deli Catering. Thiết kế website bởi Cánh Cam.