.block__tool.dekstop
	ul
		li
			a(href="")
				em.ri-map-pin-2-line
			a(href="system-shop.html")
				span Hệ thống cửa hàng
		li
			a(href="")
				em.ri-file-copy-2-line
			a(href="news-list.html")
				span Tin tức
		li
			a(href="")
				em.ri-edit-line
			a(href="contact.html")
				span Liên hệ
		li
			a(href="")
				em.ri-phone-line
			a(href="")
				span Hotline
				|
				span 190023450