section.block_menu
	.container
		.title_menu 
			h3 Thực đơn
		.row
			.col-xl-3.col-md-3
				.block_title_food
					.title_food Thực đơn
				.block_collapsible
					- for (i=1; i<=5; i++)
						button.collapsible Món mới
						.content
							a(href="") Shushi
							a(href="") Sashimi
			.col-xl-9.col-md-9
				.block_name_category
					.name_category Cơm văn phòng
					.area_category Khu vực
				.row
					- for (i=1; i<=9; i++)
						.col-xl-4.col-md-6.col-xs-6
							a(href="menu-detail.html")
								.card_img
									.img
										img(src="img/menu/1.png", alt="")
									.name_food Tô cơm cá hồi
									.discount 55.000 VND
									.price 62.000 VND

