.block_news-promotion
	background-image: url('../img/news-promotion/bg-news-promotion.png')
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	padding: 55px 0 0 0 
	.big_img_news-list
		position: relative
		.img
			max-width: 100%
			width: 100%
			max-height: 100%
			height: 585px
			img
				width: 100%
				height: 100%
				object-fit: cover
			@media screen and ( max-width: 767px )
				max-height: 100%
				height: 345px
				max-width: 100%
				width: 100%
				img
					height: 100%
					width: 100%
			@media screen and ( max-width: 576px )
				max-height: 100%
				height: 345px
				max-width: 100%
				width: 100%
				img
					height: 100%
					width: 100%
	.content_news-list
		background: rgba(#ffffff, .9)
		position: absolute
		bottom: 0
		left: auto
		width: 300px
		height: 290px
		padding: 20px
		@media screen and ( max-width: 767px )
			position: initial
			width: 100%
			height: auto
			margin-bottom: 30px
			background: #fcfbf7
			border-right: 1px solid #f3ece3
			border-bottom: 1px solid #f3ece3
			border-top: 1px solid #f3ece3
		@media screen and ( max-width: 576px )
			position: initial
			width: 100%
			height: auto
			margin-bottom: 30px
			background: #fcfbf7
			border-right: 1px solid #f3ece3
			border-bottom: 1px solid #f3ece3
			border-top: 1px solid #f3ece3
		.card_title_news-list
			a
				color: #111111
				font-size: 24px
				font-weight: 700
				font-family: 'Montserrat', sans-serif
				-webkit-box-orient: vertical
				-webkit-line-clamp: 2
				-o-text-overflow: ellipsis
				display: -webkit-box
				overflow: hidden
				text-overflow: ellipsis
				@media screen and ( max-width: 576px )
					font-size: 20px
		.card_title_zone_news-list
			padding-top: 10px
			color: #111111
			font-size: 16px
			font-weight: 500
			-webkit-box-orient: vertical
			-webkit-line-clamp: 3
			display: -webkit-box
			overflow: hidden
			text-overflow: ellipsis
		.btn-view-more
			padding-top: 30px
			a
				font-size: 14px
				color: #e82429
				text-transform: uppercase
				font-weight: 600
		&:hover
			cursor: pointer
			.card_title_news-list
				a
					color: #e82429
	.row.small-food
		&:nth-child(1)
			.col-lg-6
				&:nth-child(2)
					padding-right: 15px
					@media screen and ( max-width: 1441px )
						padding-right: 15px
					@media screen and ( max-width: 1024.98px )
						padding-right: 15px
					@media screen and ( max-width: 767px )
						padding-right: 15px
						padding-left: 15px
		&:nth-child(2n)
			.col-lg-6
				&:nth-child(1)
					padding-right: 15px
					padding-left: 0
					order: 2
					@media screen and ( max-width: 767px )
						order: inherit
						padding-left: 15px
						padding-right: 0
					@media screen and ( max-width: 576px )
						order: inherit
						padding-left: 15px
				.content-food-news
					margin-left: 15px
					@media screen and ( max-width: 767px )
						padding-left: 15px
						padding-right: 15px
						margin-left: 0
					@media screen and ( max-width: 576px )
						margin-left: 0
						padding: 20px
						border-right: 1px solid #f3ece3
						border-bottom: 1px solid #f3ece3
						border-top: 1px solid #f3ece3
	.small-food
		margin-bottom: 25px
		.col-lg-6
			&:nth-child(1)
				padding-right: 0
			&:nth-child(2)
				padding-left: 0
				padding-right: 0
				@media screen and ( max-width: 1441px )
					padding-right: 0
				@media screen and ( max-width: 1024.98px )
					padding-right: 0
				@media screen and ( max-width: 767px )
					padding-left: 15px
					padding-right: 15px
				@media screen and ( max-width: 576px )
					padding-right: 15px
					padding-left: 15px
		.new-img
			.img
				max-width: 100%
				max-height: 100%
				width: 100%
				height: 280px
				img
					width: 100%
					height: 100%
					object-fit: cover
				@media screen and ( max-width: 767px )
					max-height: 100%
					height: 345px
					max-width: 100%
					width: 100%
					img
						height: 100%
						width: 100%
						padding-right: 15px
				@media screen and ( max-width: 576px )
					max-height: 100%
					height: 345px
					max-width: 100%
					max-height: 100%
					img
						height: 100%
						width: 100%
						padding-right: 15px

		.content-food-news
			background: #fcfbf7
			padding: 20px
			height: 280px
			border-right: 1px solid #f3ece3
			border-bottom: 1px solid #f3ece3
			border-top: 1px solid #f3ece3
			@media screen and ( max-width: 767px )
				height: auto
				padding: 20px
			@media screen and ( max-width: 576px )
				height: auto
				padding: 20px
			.title-small-food
				a
					color: #111111
					font-size: 24px
					font-weight: 700
					-webkit-box-orient: vertical
					-webkit-line-clamp: 3
					-o-text-overflow: ellipsis
					display: -webkit-box
					overflow: hidden
					text-overflow: ellipsis
					@media screen and ( max-width: 1024.98px )
						font-size: 20px
			.title-zone-small-food
				padding: 20px 0 20px 0
				p
					color: #333333
					font-size: 1rem
					-webkit-box-orient: vertical
					-webkit-line-clamp: 3
					-o-text-overflow: ellipsis
					display: -webkit-box
					overflow: hidden
					text-overflow: ellipsis
			.btn-view-more
				a
					font-size: 14px
					color: #e82429
					text-transform: uppercase
					font-weight: 600
			&:hover
				cursor: pointer
				.title-small-food
					a
						color: #e82429

	.card_img
		.img
			width: 100%
			max-height: 100%
			height: 345px
			img
				width: 100%
				height: 100%
				object-fit: cover
	.content_news
		background: #fcfbf7
		border: 1px solid #f3ece3
		padding: 25px
		@media screen and ( max-width: 1024.98px )
			margin-bottom: 30px
		@media screen and ( max-width: 576px )
			margin-bottom: 30px
		.title_news
			a
				color: #111111
				font-size: 24px
				font-weight: 700
				-webkit-box-orient: vertical
				-webkit-line-clamp: 2
				display: -webkit-box
				overflow: hidden
				text-overflow: ellipsis
				font-weight: 700
				&:hover
					cursor: pointer
					color: #ea2531
		.title_zone_news
			padding: 10px 0 10px 0
			-webkit-box-orient: vertical
			-webkit-line-clamp: 3
			-o-text-overflow: ellipsis
			display: -webkit-box
			overflow: hidden
			text-overflow: ellipsis
			font-size: 1rem
			color: #111111
			height: 85px
		.btn-view-more
			a
				font-size: 14px
				color: #e82429
				text-transform: uppercase
				font-weight: 600
		&:hover
			cursor: pointer
			.title_news
				a
					color: #e82429
	