section.block_news-promotion
	.container
		.block-title
			.head-title
				h1 Tin tức
			.head-title-zone
				.title
					ul 
						li.active
							a(href="news-list.html") Hoạt Động
						li 
							a(href="news-promotion.html") Khuyến mãi
						li 
							a(href="news-img.html") Thư viện ảnh
						li 
							a(href="#") Tài liệu tải về
						li 
							a(href="news-brochure") Brochure
		.row
			.col-12.col-md-6.col-lg-6
				a(href="#")
					.big_img_news-list
						.img
							img(src="./img/news-promotion/promotion-small-1.png", alt="")
				.content_news-list
					.card_title_news-list
						a(href="#") Cuộc thi "I love Tokyo Deli" 8/3
					.card_title_zone_news-list
						p Chỉ từ 69.000Đ thỏa sức thưởng thức tiệc Nhật tại gia với Delivery MỚI CÓ TẠI Tokyo Deli
					.btn-view-more
						a(href="") Xem thêm
			.col-12.col-md-6.col-lg-6
				.row.small-food
					.col-12.col-md-6.col-lg-6
						.new-img
							.img.opacity 
								img(src="./img/news-promotion/promotion-small-1.png", alt="")
					.col-12.col-md-6.col-lg-6
						.content-food-news
							.title-small-food
								a(href="") Tokyo Deli - Nơi có tất cả các món Nhật mà bạn yếu thích
							.title-zone-small-food
								p Mê ăn ngon, thích "rảnh tay" mà chẳng muốn ra ngoài thì GỌI NGAY #LẨU_TẠI_NHÀ của tokyo Deli để hưởng ngay 3 ƯU ĐÃI
							.btn-view-more
								a(href="") Xem thêm
				.row.small-food
					.col-12.col-md-6.col-lg-6
						.new-img
							.img.opacity 
								img(src="./img/news-promotion/promotion-small-2.png", alt="")
					.col-12.col-md-6.col-lg-6
						.content-food-news
							.title-small-food
								a(href="") Tokyo Deli - Nơi có tất cả các món Nhật mà bạn yếu thích
							.title-zone-small-food
								p Mê ăn ngon, thích "rảnh tay" mà chẳng muốn ra ngoài thì GỌI NGAY #LẨU_TẠI_NHÀ của tokyo Deli để hưởng ngay 3 ƯU ĐÃI
							.btn-view-more
								a(href="") Xem thêm
	.container
		.row
			.col-12.col-md-6.col-lg-4
				.card_img
					.img
						img(src="./img/news-promotion/promotion-1.png", alt="")
				.content_news
					.title_news
						a(href="") Tokyo Deli Home Servicce Ưu đãi tặng nước
					.title_zone_news
						p Chỉ từ 69.000Đ thỏa sức thưởng thức tiệc Nhật tại gia với Delivery MỚI CÓ TẠI Tokyo Deli
					.btn-view-more
						a(href="") Xem thêm
			.col-12.col-md-6.col-lg-4
				.card_img
					.img
						img(src="./img/news-promotion/promotion-2.png", alt="")
				.content_news
					.title_news
						a(href="") Tokyo Deli Home Servicce Ưu đãi tặng nước
					.title_zone_news
						p Chỉ từ 69.000Đ thỏa sức thưởng thức tiệc Nhật tại gia với Delivery MỚI CÓ TẠI Tokyo Deli
					.btn-view-more
						a(href="") Xem thêm
			.col-12.col-md-6.col-lg-4
				.card_img
					.img
						img(src="./img/news-promotion/promotion-3.png", alt="")
				.content_news
					.title_news
						a(href="") Tokyo Deli Home Servicce Ưu đãi tặng nước
					.title_zone_news
						p Chỉ từ 69.000Đ thỏa sức thưởng thức tiệc Nhật tại gia với Delivery MỚI CÓ TẠI Tokyo Deli
					.btn-view-more
						a(href="") Xem thêm