section.block_card-member
	.container
		.block-title
			.head-title
				h1 Thẻ thành viên
			.head-title-zone
				.title
					ul 
						li.active
							a(href="#") Các loại thẻ
						li 
							a(href="#") Tra cứu

		.row.bg-member
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/card-member/card-1.png" alt="")
			.col-12.col-md-6.col-lg-6.fl
				.member
					.title-member
						h2 Thẻ thành viên Toky Deli (Member Card)
					.text-member
						p Với hóa đơn thanh toán từ 500.000 đ trở lên, khách hàng có thể tham gia chương trình Member Card.
					.readmore
						a(data-fancybox='', data-src='#') Xem thêm
		.row.bg-member
			.col-12.col-md-6.col-lg-6
				.card_img
					.img
						img(src="./img/card-member/card-1.png" alt="")
			.col-12.col-md-6.col-lg-6.fl
				.member
					.title-member
						h2 Thẻ thành viên Toky Deli (Member Card)
					.text-member
						p Với hóa đơn thanh toán từ 500.000 đ trở lên, khách hàng có thể tham gia chương trình Member Card.
					.readmore
						a(data-fancybox='', data-src='#') Xem thêm
		.modal.container
			.col-xl-12
				.close-btn.ri-close-line
				.row
					.col-xl-6.col-sm-6
						.card_img
							.img
								img(src="./img/card-member/card-1.png" alt="")
					.col-xl-6.col-sm-6.fl
						.member
							.title-modal
								h2 Thẻ thành viên Toky Deli (Member Card)
							.text-modal
								p Với hóa đơn thanh toán từ 500.000 đ trở lên, khách hàng có thể tham gia chương trình Member Card.