section.news-detail
	.container
		.row
			.col-lg-9.bg-left-detail
				.card-title
					h1 Tokyo điểm thưởng thức ẩm thực Nhật không thể bỏ qua
					.bottom-wrapper-news-detail
						time 01/06/2020
						.social-network-share
							.icon
								a(href="#")
									span.ri-facebook-fill
								a(href="#")
									span.ri-linkedin-fill
								a(href="#")
									span.fab.fa-twitter
				.content_news-detail
					p Trước thực trạng khan hiếm nguồn cung cấp sản phẩm bất động sản còn kéo dài như hiện nay, mong muốn có một căn hộ phù hợp để tam đại đống đường an cư là điều không dễ dàng.
					p Thực tế, nhu cầu này đang tăng khi nhiều gia đình đang tăng bổng có thêm thành viên mói, hoặc con cái ước nguyện đón cha mẹ lớn tuổi về ở chung để tiện chăm sóc hoặc không ít bậc ông bà đến tuổi hưu trí mưu sống gần gủi con cháu....
					p Nhu cầu đoàn viên mỗi ngày
					p Thực tế, nhu cầu này đang tăng khi nhiều gia đình đang tăng bổng có thêm thành viên mói, hoặc con cái ước nguyện đón cha mẹ lớn tuổi về ở chung để tiện chăm sóc hoặc không ít bậc ông bà đến tuổi hưu trí mưu sống gần gủi con cháu
				.card_img_news-list
					.img
						img(src="./img/news-detail/news-detail-1.png", alt="")
				.content_news-detail
					p Trước thực trạng khan hiếm nguồn cung cấp sản phẩm bất động sản còn kéo dài như hiện nay, mong muốn có một căn hộ phù hợp để tam đại đống đường an cư là điều không dễ dàng.
					p Thực tế, nhu cầu này đang tăng khi nhiều gia đình đang tăng bổng có thêm thành viên mói, hoặc con cái ước nguyện đón cha mẹ lớn tuổi về ở chung để tiện chăm sóc hoặc không ít bậc ông bà đến tuổi hưu trí mưu sống gần gủi con cháu....
					p Nhu cầu đoàn viên mỗi ngày
					p Thực tế, nhu cầu này đang tăng khi nhiều gia đình đang tăng bổng có thêm thành viên mói, hoặc con cái ước nguyện đón cha mẹ lớn tuổi về ở chung để tiện chăm sóc hoặc không ít bậc ông bà đến tuổi hưu trí mưu sống gần gủi con cháu
				.card_img_news-list
					.img
						img(src="./img/news-detail/news-detail-2.png", alt="")
				.content_news-detail
					p Trước thực trạng khan hiếm nguồn cung cấp sản phẩm bất động sản còn kéo dài như hiện nay, mong muốn có một căn hộ phù hợp để tam đại đống đường an cư là điều không dễ dàng.
					p Thực tế, nhu cầu này đang tăng khi nhiều gia đình đang tăng bổng có thêm thành viên mói, hoặc con cái ước nguyện đón cha mẹ lớn tuổi về ở chung để tiện chăm sóc hoặc không ít bậc ông bà đến tuổi hưu trí mưu sống gần gủi con cháu....
				
			.col-lg-3
				.right-news
					.card-title-right
						h2 Tin tức mới
					.card_body
						.img 
							img(src="./img/news-detail/news-detail-small-1.png", alt="")
						.content_news_detail_right
							.date
								time 08/08/2020
							.title_news_right
								a.lcl.lcl-3(href="") Tokyo nơi có tất cả các món Nhật
					.card_body
						.img 
							img(src="./img/news-detail/news-detail-small-2.png", alt="")
						.content_news_detail_right
							.date
								time 08/08/2020
							.title_news_right
								a.lcl.lcl-3(href="") Phong cách Nhật thu hút người Việt
					.card_body
						.img 
							img(src="./img/news-detail/news-detail-small-3.png", alt="")
						.content_news_detail_right
							.date
								time 08/08/20200
							.title_news_right
								a.lcl.lcl-3(href="") Tokyo Deli - Sử dụng ECO
					.card_body
						.img 
							img(src="./img/news-detail/news-detail-small-4.png", alt="")
						.content_news_detail_right
							.date
								time 08/08/2020
							.title_news_right
								a.lcl.lcl-3(href="") Tokyo nơi có tất cả các món Nhật
					.card_body
						.img 
							img(src="./img/news-detail/news-detail-small-5.png", alt="")
						.content_news_detail_right
							.date
								time 08/08/2020
							.title_news_right
								a.lcl.lcl-3(href="") Khai trương cửa hàng thứ 15...