section.block_s-5
	.container
		.row
			.col-lg-8
				.block-title
					.head-title
						h1 Cam kết chất lượng
					.text
						p Nhờ áp dụng những phương pháp quản lí tiên tiến theo chuẩn vệ sinh an toàn thực phẩm xuyên suốt từ khâu nhập liệu đầu vào đến quy trình chế biến và phục vụ cũng như được hỗ trợ bởi hệ thống sản xuất và cung cấp nguyên liệu toàn thế giói, Tân Việt Nhật cam kết mang đến cho người dùng những sản phẩm ngon an toàn, có lợi ích cho sức khỏe với giá rất hợp lý
				.icon_about-5
					ul
						li
							.img_icon
								img(src="./img/s-5/img-1.png", alt="")
						li
							.img_icon
								img(src="./img/s-5/img-2.png", alt="")
				