section.home-banner
	.container-fuild
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.wrapper
						a
							img(src="./img/banner/1.jpg", alt="")
					.caption
						h2.title-caption tokyo deli catering
						.text Tự hào là một trong những đơn vị cung cấp dịch vụ ẩm thực lưu động đa dạng hàng đầu Việt Nam
						.btn-view-more
							a(href="") Tìm hiểu thêm
								span.material-icons trending_flat
				.swiper-slide
					.wrapper
						a
							img(src="./img/banner/2.png", alt="")
					.caption
						h2.title-caption 
						.text Mang ẩm thực Nhật Bản đến với khách hàng thông qua dịch vụ ăn uống an toàn, chất lượng và chuyên nghiệp