<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<newstype name="Tin tức" value="0"></newstype><!--<showoption name="Icon new" value="1"></showoption>-->
	<templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>
	<templatelist xsltname="KhachHang.xslt" name="Danh sách khách hàng"></templatelist>
	<templatelist xsltname="KhuyenMai.xslt" name="Danh sách khuyến mãi"></templatelist>
	<templatelist xsltname="TuyenDung.xslt" name="Danh sách tuyển dụng"></templatelist>
	<templatelist xsltname="VideoList.xslt" name="Danh sách video"></templatelist>
	<templatelist xsltname="PhotoList.xslt" name="Danh sách photo"></templatelist>
	<templatelist xsltname="ServiceSuggest.xslt" name="Danh sách dịch vụ gợi ý"></templatelist><!--SITE 2-->
	<templatelist xsltname="Site2-NewsList.xslt" name="Site 2 - Danh sách tin tức"></templatelist>
	<templatelist xsltname="Site2-RecruitList.xslt" name="Site 2 - Danh sách tuyển dụng"></templatelist>
	<templatelist xsltname="Site2-GalleryNews.xslt" name="Site 2 - Tin tức truyền thông"></templatelist>
	<templatelist xsltname="Site2-GalleryImages.xslt" name="Site 2 - Ảnh truyền thông"></templatelist>
	<templatelist xsltname="Site2-GalleryVideos.xslt" name="Site 2 - Video truyền thông"></templatelist>
	<templatelist xsltname="Site3-ViTriTuyenDung.xslt" name="Site 3 - Vị trí tuyển dụng"></templatelist>
	<templatelist xsltname="Site3-NewsList.xslt" name="Site 3 - Tin tức"></templatelist>
	<templatelist xsltname="Site3-Promotion.xslt" name="Site 3 - Khuyến mãi"></templatelist>
	<templatelist xsltname="Site3-Brouchure.xslt" name="Site 3 - Brouchure"></templatelist>
	<templatelist xsltname="Site3-HinhAnh.xslt" name="Site 3 - Hình ảnh"></templatelist>
	<templatelist xsltname="Site3-MemBerCard.xslt" name="Site 3 - Member Card"></templatelist>
	<templatelist xsltname="Site5-Promotion.xslt" name="Site 5 - Tin khuyến mãi"></templatelist>
	<templatelist xsltname="Site5-HotroKH.xslt" name="Site 5 - Hỗ trợ khách hàng"></templatelist>

	<templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>
	<templatedetail xsltname="TuyenDungCT.xslt" name="Chi tiết tuyển dụng"></templatedetail>
	<templatedetail xsltname="Brochure.xslt" name="Chi tiết brochure"></templatedetail><!--SITE 2-->
	<templatedetail xsltname="Site2-NewsDetail.xslt" name="Site 2 - Chi tiết tin tức"></templatedetail>
	<templatedetail xsltname="Site2-RecruitDetail.xslt" name="Site 2 - Chi tiết tuyển dụng"></templatedetail>
	<templatedetail xsltname="Site3-ChiTietTuyenDung.xslt" name="Site 3 - Chi tiết tuyển dụng"></templatedetail>
	<templatedetail xsltname="Site3-NewsDetail.xslt" name="Site 3 - Chi tiết tin tức"></templatedetail>
	<templatedetail xsltname="Site5-PromtionDetail.xslt" name="Site 5 - Chi tiết khuyến mãi"></templatedetail>
	<position>
		<add name="Thẻ thành viên" value="1" resourcefile=""/>
		<add name="Site3 - Home About" value="2" resourcefile=""/>
		<add name="Site 5 - Tin khuyến mãi mới nhất" value="4" resourcefile=""/>
		<add name="Site 5 - Home khuyến mãi" value="8" resourcefile=""/>
	</position>
</templates>