<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>
  <templatelist xsltname="ServiceEvents.xslt" name="Danh sách dịch vụ sự kiện"></templatelist>
  <templatelist xsltname="KhachHang.xslt" name="Danh sách khách hàng"></templatelist>
  <templatelist xsltname="KhuyenMai.xslt" name="Danh sách khuyến mãi"></templatelist>
  <templatelist xsltname="TuyenDung.xslt" name="Danh sách tuyển dụng"></templatelist>
  <templatelist xsltname="VideoList.xslt" name="Danh sách video"></templatelist>
  <templatelist xsltname="PhotoList.xslt" name="Danh sách photo"></templatelist>
  <templatelist xsltname="ServiceSuggest.xslt" name="Danh sách dịch vụ gợi ý"></templatelist>

  <templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>
  <templatedetail xsltname="TuyenDungCT.xslt" name="Chi tiết tuyển dụng"></templatedetail>
  <templatedetail xsltname="Brochure.xslt" name="Chi tiết brochure"></templatedetail>

  <position>
    <!--<add name="Trang chủ" value="1" resourcefile="" />-->
  </position>
</templates>