section.library_image
	.container
		.block-title
			.head-title
				h1 Tin tức
			.head-title-zone
				.title
					ul 
						li.active
							a(href="news-list.html") Hoạt Động
						li 
							a(href="news-promotion.html") Khuyến mãi
						li 
							a(href="news-img.html") Thư viện ảnh
						li 
							a(href="#") Tài liệu tải về
						li 
							a(href="news-brochure.html") Brochure
		.row
			.col-lg-6
				.card_img_news_image_left
					.block-item
						.item__img
							a(href="")
								img(src="./img/news-img/img-1.png", alt="")
								.album
									.caption Album 1
						.item__img-hover
							.content
								.icon
									em.material-icons photo_camera
									.desc
										h4 Album 1
			.col-lg-6
				.row
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/news-img/img-small-1.png", alt="")
									.album
										.caption Album 2
							.item__img-hover
								.content
									.icon
										em.material-icons photo_camera
										.desc
											h5 Album 2
								
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/news-img/img-small-2.png", alt="")
									.album
										.caption Album 3
							.item__img-hover
								.content
									.icon
										em.material-icons photo_camera
										.desc
											h5 Album 3
									
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/news-img/img-small-3.png", alt="")
									.album
										.caption Album 4
							.item__img-hover
								.content
									.icon
										em.material-icons photo_camera
										.desc
											h5 Album 4
										
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/news-img/img-small-4.png", alt="")
									.album
										.caption Album 5
							.item__img-hover
								.content
									.icon
										em.material-icons photo_camera
										.desc
											h5 Album 5
										
	.container
		.row
			.col-lg-6.news_image_left
				.row
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
									img(src="./img/news-img/img-small-5.png", alt="")
									.album
										.caption Album 6
							.item__img-hover
								.content
									.icon
										em.material-icons photo_camera
										.desc
											h5 Album 6
										
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/news-img/img-small-6.png", alt="")
									.album
										.caption Album 7
							.item__img-hover
								.content
									.icon
										em.material-icons photo_camera
										.desc
											h5 Album 7
										
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/news-img/img-small-7.png", alt="")
									.album
										.caption Album 8
							.item__img-hover
								.content
									.icon
										em.material-icons photo_camera
										.desc
											h5 Album 8
										
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/news-img/img-small-8.png", alt="")
									.album
										.caption Album 9
							.item__img-hover
								.content
									.icon
										em.material-icons photo_camera
										.desc
											h5 Album 9
										
			.col-lg-6.card_img_news_image_right
				.block-item
					.item__img
						a(href="")
							img(src="./img/news-img/img-2.png", alt="")
							.album
								.caption Album 10
					.item__img-hover
						.content
							.icon
								em.material-icons photo_camera
								.desc
									h4 Album 10