section.block_s-1
	.container
		.block-title
			.head-title
				h1 Tinh hoa ẩm thực Nhật Bản
		.row
			.col-12.col-md-4.col-lg-4
				.card_img
					.img
						img(src="./img/s-1/tinhhoa-1.png", alt="")
			.col-12.col-md-4.col-lg-4
				.big-content
					.content_s-1
						p Chuỗi nhà hàng TOKYO Deli Sushi ra đời với tham vọng mong muốn giới thiệu ẩm thực Nhật Bản đích thực trở lên "Thân quen" đến với người Việt, đồng thời là nơi trải nghiệm nền ẩm thực Nhật Bản mới mẻ, thú vị bên gia đình và bạn bè và đồng nghiệp
					.btn-view-more
						a(href="") xem thêm
			.col-12.col-md-4.col-lg-4
				.row
					.col-6.col-md-6.col-lg-6
						.img_small
							img(src="./img/s-1/tinhoa-2.png", alt="")
					.col-6.col-md-6.col-lg-6
						.img_small
							img(src="./img/s-1/tinhoa-3.png", alt="")
					.col-12.col-md-12.col-lg-12
						.img_big
							img(src="./img/s-1/tinhhoa-4.png", alt="")
