section.brochure.py-16
	.block-title
		.head-title
			h1 Tin tức
		.head-title-zone
			.title
				ul 
					li.active
						a(href="news-list.html") Hoạt Động
					li 
						a(href="news-promotion.html") Khuyến mãi
					li 
						a(href="news-img.html") Thư viện ảnh
					li 
						a(href="#") Tài liệu tải về
					li 
						a(href="news-brochure") Brochure
	.container
		.wowbook-wrapper
			#wowbook
				.item
					img(src="./img/news-brochure/brochure.png", alt="")
				
		.wowbook-control
			ul
				li
					a#first(href="#")
						span.mdi.mdi-chevron-double-left
				li
					a#back(href="#")
						span.mdi.mdi-chevron-left
				li
					a#zoomout(href="#")
						span.mdi.mdi-magnify-minus-outline
				li
					a#zoomin(href="#")
						span.mdi.mdi-magnify-plus-outline
				li
					a#next(href="#")
						span.mdi.mdi-chevron-right
				li
					a#last(href="#")
						span.mdi.mdi-chevron-double-right