section.about_1
	.container
		.title
			h2 Tổng quan
		.row
			.col-xl-6.col.md-6.col-xs-12.fl
				.block_content
					p Hệ thống nhà hàng TOKYO Deli được hình thành dựa trên sự hợp tác chặt chẽ giữa Công ty Okamura Foods – Japan (Công ty nổi tiếng tại Nhật trong lĩnh vực nuôi trồng, chế biến và phân phối các sản phẩm thủy hải sản tại Nhật Bản và Châu Âu) và công ty Cổ phần Thực phẩm Trung Sơn (có bề dày trên 15 năm kinh nghiệm trong lĩnh vực nuôi trồng, chế biến và xuất khẩu hải sản cao cấp cho thị trường Nhật).
					br
					p Nhờ áp dụng những phương pháp quản lý tiên tiến theo tiêu chuẩn vệ sinh an toàn thực phẩm xuyên suốt từ khâu nhập nguyên liệu đầu vào đến quy trình chế biến và phục vụ, cũng như được hỗ trợ bởi hệ thống sản xuất và cung cấp nguyên vật liệu trên toàn Thế Giới, TOKYO Deli cam kết mang đến cho người tiêu dùng những sản phẩm ngon an toàn, có lợi cho sức khỏe với giá rất hợp lý.
					br 
					p Hệ thống nhà hàng TOKYO Deli được hình thành dựa trên sự hợp tác chặt chẽ giữa Công ty Okamura Foods – Japan (Công ty nổi tiếng tại Nhật trong lĩnh vực nuôi trồng, chế biến và phân phối các sản phẩm thủy hải sản tại Nhật Bản và Châu Âu) và công ty Cổ phần Thực phẩm Trung Sơn (có bề dày trên 15 năm kinh nghiệm trong lĩnh vực nuôi trồng, chế biến và xuất khẩu hải sản cao cấp cho thị trường Nhật).
					br
					p Nhờ áp dụng những phương pháp quản lý tiên tiến theo tiêu chuẩn vệ sinh an toàn thực phẩm xuyên suốt từ khâu nhập nguyên liệu đầu vào đến quy trình chế biến và phục vụ, cũng như được hỗ trợ bởi hệ thống sản xuất và cung cấp nguyên vật liệu trên toàn Thế Giới, TOKYO Deli cam kết mang đến cho người tiêu dùng những sản phẩm ngon an toàn, có lợi cho sức khỏe với giá rất hợp lý.
			.col-xl-6.col.md-6.col-xs-12
				.img
					img(src="img/about/1.jpg", alt="")
section.about_2
	.container
		.title
			h2 Lịch sử hình thành
		.about_slide
			.swiper-container
				.swiper-wrapper
					- for (i=1; i<=6; i++)
						.swiper-slide
							.card_text
								.date
									p 2007
								.text
									p Nhà hàng TOKYO Deli đầu tiên được mở tại Phú Mỹ Hưng. Nhà hàng TOKYO Deli đầu tiên được mở tại Phú Mỹ Hưng. Nhà hàng TOKYO Deli đầu tiên được mở tại Phú Mỹ Hưng.
			.nav-arrow-prev
				i.ri-arrow-left-s-line
			.nav-arrow-next
				i.ri-arrow-right-s-line

section.about_3
	.container
		.title
			h2 Tầm nhìn - Sứ mệnh
		.row
			- for (i=1; i<=2; i++)
				.col-xl-6.col-md-12
					.card
						.img
							img(src="img/about/2.jpg", alt="")
						.block_content
							.content
								h3 Tầm nhìn
							.text
								p Mang ẩm thực Nhật Bản đến với khách hàng thông qua dịch vụ ăn uống an toàn chất lượng và chuyên nghiệp.
								br
								p Tokyo Deli Catering là sự kế thừa và phát huy thế mạnh của Tokyo Deli chuỗi nhà hàng Nhật Bản

section.about_4
	.container
		.title
			h2 Không gian
		.content
			p Tinh thần TOKYO DELI
		.content_detail
			p Không gian của Tokyo Deli  Sushi lấy cảm hứng từ không gian truyển thống của người Nhật Bản Đó là một cách sắp xếp không gian nội thất đơn giản, dễ chịu, mang lại bầu không khí bù đắp sự căng thẳng khiến bạn cảm thấy thư giãn hơn.
			br
			p Phong cách thiết kế tinh thần TOKYO DELI  đem đến một cảm giác đầm ấm, yên bình. Các thực khách sẽ có cảm giác thoải mái như đang dùng bữa tại gia đình.

		.block_img
			.row
				-for(i=1; i<=4; i++)
					.col-xl-3.col-md-3.col-sm-6.col-xs-6
						.card_img
							.img
								img(src="./img/about/4.jpg", alt="")
