section.about_1
	.container
		.block-title
			.head-title
				h2 Tổng quan
		.row
			.col-lg-6
				.content
					p Hệ thống nhà hàng TOKYO Deli được hình thành dựa trên sự hợp tác chặt chẽ giữa Công ty Okamura Foods – Japan (Công ty nổi tiếng tại Nhật trong lĩnh vực nuôi trồng, chế biến và phân phối các sản phẩm thủy hải sản tại Nhật Bản và Châu Âu) và công ty Cổ phần Thực phẩm Trung Sơn (có bề dày trên 15 năm kinh nghiệm trong lĩnh vực nuôi trồng, chế biến và xuất khẩu hải sản cao cấp cho thị trường Nhật).
					p Nhờ áp dụng những phương pháp quản lý tiên tiến theo tiêu chuẩn vệ sinh an toàn thực phẩm xuyên suốt từ khâu nhập nguyên liệu đầu vào đến quy trình chế biến và phục vụ, cũng như được hỗ trợ bởi hệ thống sản xuất và cung cấp nguyên vật liệu trên toàn Thế Giới, TOKYO Deli cam kết mang đến cho người tiêu dùng những sản phẩm ngon an toàn, có lợi cho sức khỏe với giá rất hợp lý.
					p Hệ thống nhà hàng TOKYO Deli được hình thành dựa trên sự hợp tác chặt chẽ giữa Công ty Okamura Foods – Japan (Công ty nổi tiếng tại Nhật trong lĩnh vực nuôi trồng, chế biến và phân phối các sản phẩm thủy hải sản tại Nhật Bản và Châu Âu) và công ty Cổ phần Thực phẩm Trung Sơn (có bề dày trên 15 năm kinh nghiệm trong lĩnh vực nuôi trồng, chế biến và xuất khẩu hải sản cao cấp cho thị trường Nhật).
					p Nhờ áp dụng những phương pháp quản lý tiên tiến theo tiêu chuẩn vệ sinh an toàn thực phẩm xuyên suốt từ khâu nhập nguyên liệu đầu vào đến quy trình chế biến và phục vụ, cũng như được hỗ trợ bởi hệ thống sản xuất và cung cấp nguyên vật liệu trên toàn Thế Giới, TOKYO Deli cam kết mang đến cho người tiêu dùng những sản phẩm ngon an toàn, có lợi cho sức khỏe với giá rất hợp lý.
			.col-lg-6
				.card_img
					.img
						img(src="img/about/1.jpg", alt="")
section.about_2
	.container
		.block-title
			.head-title
				h2 Lịch sử hình thành
		.about-swiper-wrapper
			.nav-arrow-prev
				em.ri-arrow-left-s-line
			.nav-arrow-next
				em.ri-arrow-right-s-line
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.wrapper 2007
						.caption_about
							p Nhà hàng TOKYO Deli đầu tiên được mở tại Phú Mỹ Hưng. Nhà hàng TOKYO Deli đầu tiên được mở tại Phú Mỹ Hưng. Nhà hàng TOKYO Deli đầu tiên được mở tại Phú Mỹ Hưng. Nhà hàng TOKYO Deli đầu tiên được mở tại Phú Mỹ Hưng.
					.swiper-slide
						.wrapper 2017
						.caption_about
							p Mở rộng 20 chi nhánh ở TP. Hồ Chí Minh.Mở rộng 20 chi nhánh ở TP. Hồ Chí Minh.Mở rộng 20 chi nhánh ở TP. Hồ Chí Minh.Mở rộng 20 chi nhánh ở TP. Hồ Chí Minh.Mở rộng 20 chi nhánh ở TP. Hồ Chí Minh.
					.swiper-slide
						.wrapper 2020
						.caption_about
							p Phát triển 50 cửa hàng trên toàn quốc.Phát triển 50 cửa hàng trên toàn quốc.Phát triển 50 cửa hàng trên toàn quốc.Phát triển 50 cửa hàng trên toàn quốc.Phát triển 50 cửa hàng trên toàn quốc.Phát triển 50 cửa hàng trên toàn quốc.Phát triển 50 cửa hàng trên toàn quốc.Phát triển 50 cửa hàng trên toàn quốc.

section.about_3
	.container
		.block-title
			.head-title
				h2 Tầm nhìn - Sứ mệnh
		.row
			.col-12.col-md-6.col-lg-6
				.item-vm
					.card_img
						.img
							img(src="./img/about/2.png", alt="")
					.content-about
						.title-vm
							h3 Tầm nhìn
						.text
							p Mang ẩm thực Nhật Bản đến với khách hàng thông qua dịch vụ ăn uống an toàn chất lượng và chuyên nghiệp.
							p Tokyo Deli Catering là sự kế thừa và phát huy thế mạnh của Tokyo Deli chuỗi nhà hàng Nhật Bản
			.col-12.col-md-6.col-lg-6
				.item-vm
					.card_img
						.img
							img(src="./img/about/3.png", alt="")
					.content-about
						.title-vm
							h3 Sứ mệnh
						.text
							p Mang ẩm thực Nhật Bản đến với khách hàng thông qua dịch vụ ăn uống an toàn chất lượng và chuyên nghiệp.
							p Tokyo Deli Catering là sự kế thừa và phát huy thế mạnh của Tokyo Deli chuỗi nhà hàng Nhật Bản

section.about_4
	.container
		.block-title
			.head-title
				h2 Không gian
		.caption
			p Tinh thần TOKYO DELI
		.content-about-4
			p Không gian của Tokyo Deli  Sushi lấy cảm hứng từ không gian truyển thống của người Nhật Bản Đó là một cách sắp xếp không gian nội thất đơn giản, dễ chịu, mang lại bầu không khí bù đắp sự căng thẳng khiến bạn cảm thấy thư giãn hơn.
			p Phong cách thiết kế tinh thần TOKYO DELI  đem đến một cảm giác đầm ấm, yên bình. Các thực khách sẽ có cảm giác thoải mái như đang dùng bữa tại gia đình.
		.row
			.col-12.col-md-3.col-lg-3
				.card_img
					.img
						img(src="./img/about/gian-1.png", alt="")
			.col-12.col-md-3.col-lg-3
				.card_img
					.img
						img(src="./img/about/gian-2.png", alt="")
			.col-12.col-md-3.col-lg-3
				.row
					.col-lg-12
						.card_img.double-img-1
							.img
								img(src="./img/about/gian-3.png", alt="")
					.col-lg-12
						.card_img.double-img-2
							.img
								img(src="./img/about/gian-4.png", alt="")
			.col-12.col-md-3.col-lg-3
				.card_img
					.img
						img(src="./img/about/gian-5.png", alt="")