extends _layout.pug

block var
	- var title = 'Đặt bàn'
	- var bodyClass = 'booking-menu-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/booking-menu/index.pug