extends _layout.pug

block var
	- var title = 'Hệ thống cửa hàng'
	- var bodyClass = 'system-shop-page'

block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/system-shop/index.pug