section.block_news-list
	.container
		.block-title
			.head-title
				h1 Tin tức
			.head-title-zone
				.title
					ul 
						li.active
							a(href="news-list.html") Hoạt Động
						li 
							a(href="news-promotion.html") Khuyến mãi
						li 
							a(href="news-img.html") Thư viện ảnh
						li 
							a(href="#") Tài liệu tải về
						li 
							a(href="news-brochure.html") Brochure
		.row
			.col-12.col-md-12.col-lg-6
				a(href="news-detail.html")
					.big_img_news-list
						.img
							img(src="./img/news-list/news-big-1.png", alt="")
				.card_body
					.content_news-list
						.date
							time 01/06/2020
						.card_title_news-list
							a(href="news-detail.html") Tokyo Deli điểm thưởng thức ẩm thực Nhật không thể bỏ qua
						.card_title_zone_news-list
							p Tokyo Deli điểm đến cuối tuần không thể bỏ qua dành cho các bạn thích ẩm thực Nhật hoặc muốn trải nghiệm ẩm thực Nhật
			.col-lg-6
				.row
					.col-12.col-md-6.col-lg-6
						.small-food
							.new-img
								.img.opacity 
									img(src="./img/news-list/news-small-1.png", alt="")
							.content-food-news
								.date
									time 01/06/2020
								.caption
									a(href="") Tokyo Deli - Nơi có tất cả các món Nhật mà bạn yếu thích
					.col-12.col-md-6.col-lg-6
						.small-food
							.new-img
								.img 
									img(src="./img/news-list/news-small-2.png", alt="")
							.content-food-news
								.date
									time 01/06/2020
								.caption
									a(href="") Tokyo Deli - Nơi có tất cả các món Nhật mà bạn yếu thích
					.col-12.col-md-6.col-lg-6
						.small-food
							.new-img
								.img
									img(src="./img/news-list/news-small-3.png", alt="")
							.content-food-news
								.date
									time 01/06/2020
								.caption
									a(href="") Tokyo Deli - Nơi có tất cả các món Nhật mà bạn yếu thích
					.col-12.col-md-6.col-lg-6
						.small-food
							.new-img
								.img
									img(src="./img/news-list/news-small-3.png", alt="")
							.content-food-news
								.date
									time 01/06/2020
								.caption
									a(href="") Tokyo Deli - Nơi có tất cả các món Nhật mà bạn yếu thích

	.container
		.row
			.col-12.col-md-6.col-lg-3
				.card_img
					.img
						img(src="./img/news-list/news-1.png", alt="")
				.content_news
					.date
						time 01/06/2020
					.card_title_news
						a(href="") Khai trương hàng tháng thứ 15, Tokyo Deli âm thầm chinh phục giới trẻ
					.btn-icon
						a(href="") Xêm thêm
							span.ri-arrow-right-circle-fill
			.col-12.col-md-6.col-lg-3
				.card_img
					.img
						img(src="./img/news-list/news-2.png", alt="")
				.content_news
					.date
						time 01/06/2020
					.card_title_news
						a(href="") Khai trương hàng tháng thứ 15, Tokyo Deli âm thầm chinh phục giới trẻ
					.btn-icon
						a(href="") Xêm thêm
							span.ri-arrow-right-circle-fill
			.col-12.col-md-6.col-lg-3
				.card_img
					.img
						img(src="./img/news-list/news-3.png", alt="")
				.content_news
					.date
						time 01/06/2020
					.card_title_news
						a(href="") Khai trương hàng tháng thứ 15, Tokyo Deli âm thầm chinh phục giới trẻ
					.btn-icon
						a(href="") Xêm thêm
							span.ri-arrow-right-circle-fill
			.col-12.col-md-6.col-lg-3
				.card_img
					.img
						img(src="./img/news-list/news-3.png", alt="")
				.content_news
					.date
						time 01/06/2020
					.card_title_news
						a(href="") Khai trương hàng tháng thứ 15, Tokyo Deli âm thầm chinh phục giới trẻ
					.btn-icon
						a(href="") Xêm thêm
							span.ri-arrow-right-circle-fill