section.block_contact
	.container
		.block-title
			.head-title
				h1 Liên hệ
		.row
			.col-12.col-md-6.col-lg-3
				.icon-contact
					.card_img
						.img
							img(src="./img/contact/icon-1.png", alt="")
					.content-icon
						ul
							li
								strong địa chỉ
							li
								p 6C Lê Quốc Hưng, Phường 12, Quận 4, Tp.HCM
			.col-12.col-md-6.col-lg-3
				.icon-contact
					.card_img
						.img
							img(src="./img/contact/icon-2.png", alt="")
					.content-icon
						ul
							li
								strong địa chỉ
							li
								p 6C Lê Quốc Hưng, Phường 12, Quận 4, Tp.HCM
			.col-12.col-md-6.col-lg-3
				.icon-contact
					.card_img
						.img
							img(src="./img/contact/icon-3.png", alt="")
					.content-icon
						ul
							li
								strong địa chỉ
							li
								p 6C Lê Quốc Hưng, Phường 12, Quận 4, Tp.HCM
			.col-12.col-md-6.col-lg-3
				.icon-contact
					.card_img
						.img
							img(src="./img/contact/icon-4.png", alt="")
					.content-icon
						ul
							li
								strong địa chỉ
							li
								p 6C Lê Quốc Hưng, Phường 12, Quận 4, Tp.HCM

section.block_form
	.container
		.row
			.col-lg-6
				.bg-form
					.text
						p Quý khách vui lòng điều thông tin vào form bên dưới để gửi về chúng tôi những thắc mắc vào góp ý. 
						p Chúng tôi sẽ trả lời quý khách một cách chính xác và sớm nhất.
					.wrap-form
						.row
							.form-group.col-12
								input.form-control(type='text', placeholder="Họ và tên (*)")
							.form-group.col-12
								input.form-control(type='text',placeholder="Số điện thoại (*)")
							.form-group.col-12
								input.form-control(type='text',placeholder="Email (*)")
							.form-group.col-12
								input.form-control(type='text',placeholder="Tiêu đề (*)")
							.form-group.col-12
								textarea#inpputTextArea.form-control(rows='3',placeholder="Nội dung (*)")
						.frm-btnwrap
							.frm-btn
								input(type="submit" value ="GỬI")
			.col-lg-6
				.map-wrapper
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19896.2391182464!2d106.67608946496217!3d10.772064938675168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f26de7d8973%3A0x8d5075f38e1bf491!2zNTA2LCAxNyBCYSBUaMOhbmcgSGFpLCBwaMaw4budbmcgMTEsIFF14bqtbiAxMCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1590154490382!5m2!1svi!2s',  frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0',width="100%",height="645px")
