section.block_system-shop
	.container
		.block-title
			.head-title
				h1 Hệ thống cửa hàng
		.row
			.col-lg-3
				.form_choose_city
					.side-navigation-wrapper
						ul.side-navigation
							li.drop-down
								.title
									a(href="") Chọn Tỉnh/Thành phố
									em.lnr.lnr-chevron-down
							li.drop-down
								.title
									a(href="") Chọn Quận/Huyện
									em.lnr.lnr-chevron-down
					.frm-btnwrap
						.frm-btn
							a(href="") tìm kiếm
					.location_system
						.system-big
							.card_title_system
								h3 Tokyo Deli Lê Quốc Hưng
							.card_body_system
								ul
									li
										span
											em.ri-map-pin-2-line
										p 26C Lê Quốc Hưng, Phường 12, Quận 4, TP.HCM
									li
										span
											em.ri-phone-line
										p 028.3943.1502
									li
										span
											em.ri-time-line
										p 11:00 - 22:00
						.system-bigg
							.card_title_system_zone
								h3 Tokyo Deli Thái Thịnh
							.card_body_system_zone
								ul
									li
										span
											em.ri-map-pin-2-line
										p 188 Thái Thịnh, Đống Đa, Hà Nội
									li
										span
											em.ri-phone-line
										p 024 32515777
									li
										span
											em.ri-time-line
										p 11:00 - 22:00

			.col-lg-9
				.map-wrapper
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19896.2391182464!2d106.67608946496217!3d10.772064938675168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f26de7d8973%3A0x8d5075f38e1bf491!2zNTA2LCAxNyBCYSBUaMOhbmcgSGFpLCBwaMaw4budbmcgMTEsIFF14bqtbiAxMCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1590154490382!5m2!1svi!2s',  frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0',width="100%",height="500px")
