section.block_recruitment-1
	.container
		.block-title
			.head-title
				h1 Tuyển dụng
			.title-recruitment-1
				h2 vị trí tuyển dụng
		.row.big-recruitment
			.col-lg-6
				.content_big_recruitment-1
					.title_staff
						a(href="") Nhân viên kỹ thuật phụ trách chất lượng
					.location_recruitment
						.icon_recruitment
							i.ri-map-pin-2-fill
						a(href="") Quận 4, TP. HCM
					.content_small_recruitment-1
						ul
							li
								.agree_recruitment
									.icon_recruitment
										i.ri-money-dollar-box-fill
									a(href="") Thỏa thuận
							li
								.date_recruitment
									.icon_recruitment
										i.ri-calendar-check-fill
									time 01/06/2020
							li
								.more-view
									a(href="") Xem chi tiết
				.content_big_recruitment-1
					.title_staff
						a(href="") Nhân viên kỹ thuật phụ trách chất lượng
					.location_recruitment
						.icon_recruitment
							i.ri-map-pin-2-fill
						a(href="") Quận 4, TP. HCM
					.content_small_recruitment-1
						ul
							li
								.agree_recruitment
									.icon_recruitment
										i.ri-money-dollar-box-fill
									a(href="") Thỏa thuận
							li
								.date_recruitment
									.icon_recruitment
										i.ri-calendar-check-fill
									time 01/06/2020
							li
								.more-view
									a(href="") Xem chi tiết
				.content_big_recruitment-1
					.title_staff
						a(href="") Nhân viên kỹ thuật phụ trách chất lượng
					.location_recruitment
						.icon_recruitment
							i.ri-map-pin-2-fill
						a(href="") Quận 4, TP. HCM
					.content_small_recruitment-1
						ul
							li
								.agree_recruitment
									.icon_recruitment
										i.ri-money-dollar-box-fill
									a(href="") Thỏa thuận
							li
								.date_recruitment
									.icon_recruitment
										i.ri-calendar-check-fill
									time 01/06/2020
							li
								.more-view
									a(href="") Xem chi tiết
				.content_big_recruitment-1
					.title_staff
						a(href="") Nhân viên kỹ thuật phụ trách chất lượng
					.location_recruitment
						.icon_recruitment
							i.ri-map-pin-2-fill
						a(href="") Quận 4, TP. HCM
					.content_small_recruitment-1
						ul
							li
								.agree_recruitment
									.icon_recruitment
										i.ri-money-dollar-box-fill
									a(href="") Thỏa thuận
							li
								.date_recruitment
									.icon_recruitment
										i.ri-calendar-check-fill
									time 01/06/2020
							li
								.more-view
									a(href="") Xem chi tiết
				.content_big_recruitment-1
					.title_staff
						a(href="") Nhân viên kỹ thuật phụ trách chất lượng
					.location_recruitment
						.icon_recruitment
							i.ri-map-pin-2-fill
						a(href="") Quận 4, TP. HCM
					.content_small_recruitment-1
						ul
							li
								.agree_recruitment
									.icon_recruitment
										i.ri-money-dollar-box-fill
									a(href="") Thỏa thuận
							li
								.date_recruitment
									.icon_recruitment
										i.ri-calendar-check-fill
									time 01/06/2020
							li
								.more-view
									a(href="") Xem chi tiết
			.col-lg-6
				.content_big_recruitment-1
					.title_staff
						a(href="") Nhân viên kỹ thuật phụ trách chất lượng
					.location_recruitment
						.icon_recruitment
							i.ri-map-pin-2-fill
						a(href="") Quận 4, TP. HCM
					.content_small_recruitment-1
						ul
							li
								.agree_recruitment
									.icon_recruitment
										i.ri-money-dollar-box-fill
									a(href="") Thỏa thuận
							li
								.date_recruitment
									.icon_recruitment
										i.ri-calendar-check-fill
									time 01/06/2020
							li
								.more-view
									a(href="") Xem chi tiết
				.content_big_recruitment-1
					.title_staff
						a(href="") Nhân viên kỹ thuật phụ trách chất lượng
					.location_recruitment
						.icon_recruitment
							i.ri-map-pin-2-fill
						a(href="") Quận 4, TP. HCM
					.content_small_recruitment-1
						ul
							li
								.agree_recruitment
									.icon_recruitment
										i.ri-money-dollar-box-fill
									a(href="") Thỏa thuận
							li
								.date_recruitment
									.icon_recruitment
										i.ri-calendar-check-fill
									time 01/06/2020
							li
								.more-view
									a(href="") Xem chi tiết
				.content_big_recruitment-1
					.title_staff
						a(href="") Nhân viên kỹ thuật phụ trách chất lượng
					.location_recruitment
						.icon_recruitment
							i.ri-map-pin-2-fill
						a(href="") Quận 4, TP. HCM
					.content_small_recruitment-1
						ul
							li
								.agree_recruitment
									.icon_recruitment
										i.ri-money-dollar-box-fill
									a(href="") Thỏa thuận
							li
								.date_recruitment
									.icon_recruitment
										i.ri-calendar-check-fill
									time 01/06/2020
							li
								.more-view
									a(href="") Xem chi tiết
				.content_big_recruitment-1
					.title_staff
						a(href="") Nhân viên kỹ thuật phụ trách chất lượng
					.location_recruitment
						.icon_recruitment
							i.ri-map-pin-2-fill
						a(href="") Quận 4, TP. HCM
					.content_small_recruitment-1
						ul
							li
								.agree_recruitment
									.icon_recruitment
										i.ri-money-dollar-box-fill
									a(href="") Thỏa thuận
							li
								.date_recruitment
									.icon_recruitment
										i.ri-calendar-check-fill
									time 01/06/2020
							li
								.more-view
									a(href="") Xem chi tiết
				.content_big_recruitment-1
					.title_staff
						a(href="") Nhân viên kỹ thuật phụ trách chất lượng
					.location_recruitment
						.icon_recruitment
							i.ri-map-pin-2-fill
						a(href="") Quận 4, TP. HCM
					.content_small_recruitment-1
						ul
							li
								.agree_recruitment
									.icon_recruitment
										i.ri-money-dollar-box-fill
									a(href="") Thỏa thuận
							li
								.date_recruitment
									.icon_recruitment
										i.ri-calendar-check-fill
									time 01/06/2020
							li
								.more-view
									a(href="") Xem chi tiết

section.block_recruitment-2
	.container
		.title-recruitment-2
			h2 quy trình tuyển dụng
		.row
			.col-12.col-md-2.col-lg-2
				.recruitment-2
					.title-hr-2
						h3 bước 1
					.title-zone-hr-2
						p Chuẩn bị kế hoạch tuyển dụng
			.col-12.col-md-2.col-lg-2
				.recruitment-2
					.title-hr-2
						h3 bước 2
					.title-zone-hr-2
						p Tiếp nhận và tiến hành chọn lọc hồ sơ ứng viên
			.col-12.col-md-2.col-lg-2
				.recruitment-2
					.title-hr-2
						h3 bước 3
					.title-zone-hr-2
						p Phỏng vấn và kiểm tra trắc nghiệm
			.col-12.col-md-2.col-lg-2
				.recruitment-2
					.title-hr-2
						h3 bước 4
					.title-zone-hr-2
						p Thử việc
			.col-12.col-md-2.col-lg-2
				.recruitment-2
					.title-hr-2
						h3 bước 5
					.title-zone-hr-2
						p Quyết định tuyển dụng

section.block_recruitment-3
	.container
		.title-recruitment-3
			h2 chính sách nhân sự
		.row
			.col-12.col-md-6.col-lg-6
				.card_img-big
					.img-big
						img(src="./img/recruitment/recruitment-1.png", alt="")
					.content-recruitment
						.title
							h3 lương thưởng
						.title-zone
							p Lương, thưởng hấp dẫn 
							p và các khoảng phụ cấp. Được thưởng lễ, Tết, Sinh nhật và các dịp đặc biệt 
			.col-12.col-md-6.col-lg-6
				.row
					.col-lg-12
						.card_img-small.top
							.img-small
								img(src="./img/recruitment/recruitment-2.png", alt="")
							.content-recruitment
								.title
									h3 bảo hiểm
								.title-zone
									p Các chế độ bảo hiệm xã hội, 
									p bảo hiểm y tế, bảo hiểm thất nghiệp theo quy định của công ty và pháp luật quy định
					.col-12.col-md-6.col-lg-6
						.card_img-small.left
							.img-small
								img(src="./img/recruitment/recruitment-3.png", alt="")
							.content-recruitment
								.title
									h3 đào tạo
								.title-zone
									p Chương trình đào tạo bồi dưỡng chuyên môn được tổ chức liên tục và hiệu quả 
					.col-12.col-md-6.col-lg-6
						.card_img-small.right
							.img-small
								img(src="./img/recruitment/recruitment-4.png", alt="")
							.content-recruitment
								.title
									h3 du lịch
								.title-zone
									p Du lịch nghỉ dưỡng hằng năm và nhiều cơ hội đãi ngộ hấp dẫn cho toàn bộ nhân viên 

