
// Converted Variables


// Custom Media Query Variables

$breakpoint-xs: '(max-width: 40em)' !default;
$breakpoint-sm-md: '(min-width: 40em) and (max-width: 52em)' !default;
$breakpoint-md-lg: '(min-width: 52em) and (max-width: 64em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;

/* Basscss Hide */

.display-none { display: none !important }