.block_booking-menu
	background-image: url('../img/card-member/bg-member.png')
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	padding: 50px 0
	@media screen and ( max-width: 576px )
		padding: 30px 0
	.block-title
		padding-bottom: 0
	.form-booking
		margin-top: 24px
		padding: 26px
		border-radius: 10px 0 0 10px
		background-color: rgb(255, 255, 255)
		box-shadow: 0 3px 20px 0 rgba(0,0,0,.1)
		.wrap-form
			@media screen and(max-width:1025px)
				margin: 0
				padding: 0 10px
			.frm-btnwrap
				bottom: 28px
				left: 0
				@media screen and(max-width:767px)
					position: static
					display: block
				.frm-btn
					input
						color: #ffffff
						background: #c80916
						cursor: pointer
						font-size: 16px
						font-weight: 400
						text-align: center
						border: none
						box-shadow: 0px 5px 20px 0px rgba(232, 36, 41, 0.25)
						width: 150px
						height: 50px
						border-radius: 50px
						margin-right: 10px
						&:nth-last-child(2)
							display: none
						&:focus
							outline: none
						&:hover
							background: #111111
							color: #ffffff
						@media screen and ( max-width:1024px  )
							input 
								padding: 0 15px
			.form-group
				margin: 5px 0 20px 0
				span
					color: #111111
					font-size: 10px
					position: absolute
					bottom: 0
					right: 0
					left: 17px
					padding-right: 5px
					&.fa-exclamation-triangle
						color: firebrick
						bottom: -19px
				.riSingle.RadInput.RadInput_Default
					right: -10px
				.RadPicker_Default
					width: 275px
				#ctl00_mainContent_ctl04_dp_dateInput_wrapper
					margin-left: -20px
					padding-right: 5px
				table
					tbody
						tr
							td
								.rcCalPopup
									position: absolute
									right: 10px
									bottom: 11px
									@media screen and ( max-width: 576px )
										right: 15px
				input,textarea
					border-top: none
					border-right: none
					border-left: none
					border-bottom: 1px solid #f3f3f3
					height: 42px
					width: 100%
					color: #333
					background: none
					transition: .3s all ease-in-out
					font-size: 16px
					padding-left: 0
					&:focus
						outline: none
						// box-shadow: 0px 5px 15px 0px rgba(56, 50, 44, 0.15)
				label
					color: #333333
					font-size: 16px
					font-weight: 600
					margin-bottom: 5px
				select
					width: 100%
					height: 42px
					border-top: none
					border-right: none
					border-left: none
					border-bottom: 1px solid #f3f3f3
				textarea
					margin-top: 100px
			.qtext
				input[type=number]
					&::-webkit-inner-spin-button,&::-webkit-outer-spin-button
						opacity: 1
			.qdate
				table
					tbody
						tr
							td
								span
									input[type=text]
										width: 274px
										@media screen and ( max-width: 1279px)
											width: 90%

		
	.col-lg-6
		&:nth-child(2)
			padding-left: 0
			@media screen and ( max-width: 1024.98px )
				padding-left: 15px
			@media screen and ( max-width: 576px )
				padding-left: 15px
	.card_img
		.img
			max-width: 100%
			width: 100%
			max-height: 100%
			height: 660px
			img
				width: 100%
				height: 100%
				object-fit: cover
				border-radius: 0 10px 10px 0
	
.middle-fullwidth
	.form-group
		.RadPicker.RadPicker_Default
			width: 275px
		table
			tbody
				tr
					td
						span
							right: -10px

.alert.alert-success
	text-align: center
	font-size: 20px
	color: #111111
	font-weight: 700
