section.block_s-4
	.container
		.block-title
			.head-title
				h1 Khuyến mãi
		.row
			.col-12.col-md-6.col-lg-6
				a(href="#")
					.big_img_news-list
						.img.zoom-in
							img(src="./img/news-promotion/promotion-small-1.png", alt="")
				.content_news-list
					.card_title_news-list
						a(href="#") Cuộc thi "I love Tokyo Deli" 8/3
					.card_title_zone_news-list
						p Chỉ từ 69.000Đ thỏa sức thưởng thức tiệc Nhật tại gia với Delivery MỚI CÓ TẠI Tokyo Deli
					.btn-view-more
						a(href="") Xem thêm
			.col-12.col-md-6.col-lg-6
				.row.small-food
					.col-12.col-md-6.col-lg-6
						.new-img
							.img.zoom-in
								img(src="./img/news-promotion/promotion-small-1.png", alt="")
					.col-12.col-md-6.col-lg-6
						.content-food-news
							.title-small-food
								a(href="") Tokyo Deli - Nơi có tất cả các món Nhật mà bạn yếu thích
							.title-zone-small-food
								p Mê ăn ngon, thích "rảnh tay" mà chẳng muốn ra ngoài thì GỌI NGAY #LẨU_TẠI_NHÀ của tokyo Deli để hưởng ngay 3 ƯU ĐÃI
							.btn-view-more
								a(href="") Xem thêm
				.row.small-food
					.col-12.col-md-6.col-lg-6
						.new-img
							.img.zoom-in
								img(src="./img/news-promotion/promotion-small-2.png", alt="")
					.col-12.col-md-6.col-lg-6
						.content-food-news
							.title-small-food
								a(href="") Tokyo Deli - Nơi có tất cả các món Nhật mà bạn yếu thích
							.title-zone-small-food
								p Mê ăn ngon, thích "rảnh tay" mà chẳng muốn ra ngoài thì GỌI NGAY #LẨU_TẠI_NHÀ của tokyo Deli để hưởng ngay 3 ƯU ĐÃI
							.btn-view-more
								a(href="") Xem thêm
			.col-lg-12
				.big-view-more
					a(href="") xem thêm