section.hr-detail
	.container
		.row
			.col-12.col-md-7.col-lg-9.hr-detail-top
				.card_title_hr_detail
					h1 Nhân viên kỹ thuật phụ trách chất lượng
					.social-network-share
						.icon
							a(href="#")
								span.mdi.mdi-facebook
							a(href="#")
								span.ri-linkedin-fill
							a(href="#")
								span.fab.fa-twitter
				.card_body_hr_detail
					table.table.table-striped
						tbody
							tr
								th(scope='row')
									.icon
										i.ri-money-dollar-circle-line
									a(href="") Lương
								|
								td Thỏa thuận
							|
							tr
								th(scope='row')
									.icon
										i.ri-book-mark-line
									a(href="") Yêu cầu
								|
								td Sử dụng thành thạo vi tính văn phòng
							|
							tr
								th(scope='row')
									.icon
										i.ri-book-mark-line
									a(href="") Phúc lợi
								|
								td Xét tăng lương, BHXH, BHYT theo quy định nhà nước
							|
							tr
								th(scope='row')
									.icon
										i.ri-money-dollar-circle-line
									a(href="") Cấp bậc
								|
								td Nhân viên
							|
							tr
								th(scope='row')
									.icon
										i.ri-map-pin-line
									a(href="") Khu vực
								|
								td Quận 4, TP.HCM
							|
							tr
								th(scope='row')
									.icon
										i.ri-phone-fill
									a(href="") Liên hệ
								|
								td 02839431502 line số 204 (Mr. Việt Phòng nhân sự)
			.col-12.col-md-5.col-lg-3.bg-right-detail-top
				.right-hr-detail
					ul
						li
							.card_title_hr-detail
								.icon
									i.ri-arrow-right-s-line
								h3 địa điểm làm việc
							.card_title_zone_hr-detail
								p 26C Lê Quốc Hưng, Phường 12, Quận 4, TP.HCM
						li
							.card_title_hr-detail
								.icon
									i.ri-arrow-right-s-line
								h3 nộp qua hồ sơ email
							.card_title_zone_hr-detail
								p tuyendungtvn@tokyodeli.com.vn
				.form_apply_hr_detail
					.apply-form
						.btn.button-apply
							.icon
								i.ri-edit-2-fill
							a(href="") nộp đơn ứng tuyển
						.btn.button-download
							.icon
								i.ri-download-2-line
							a(href="") Tải form ứng tuyển
	.container
		.row
			.col-12.col-md-7.col-lg-9
				.content-hr-detail-bottom
					.title-hr-detail-bottom
						h2 mô tả công việc
					.desc-hr-detail-bottom
						ul
							li
								p Thực hiện kiểm soát chất lượng nguyên liệu đầu vàoThực hiện kiểm soát chất lượng nguyên liệu đầu vào
							li
								p Thực hiện kiểm soát chất lượng nguyên liệu đầu vàoThực hiện kiểm soát chất lượng nguyên liệu đầu vào
							li
								p Thực hiện kiểm soát chất lượng nguyên liệu đầu vàoThực hiện kiểm soát chất lượng nguyên liệu đầu vào
							li
								p Thực hiện kiểm soát chất lượng nguyên liệu đầu vào
				.content-hr-detail-bottom
					.title-hr-detail-bottom
						h2 Yêu cầu
					.desc-hr-detail-bottom
						ul
							li
								p Thực hiện kiểm soát chất lượng nguyên liệu đầu vàoThực hiện kiểm soát chất lượng nguyên liệu đầu vào
							li
								p Thực hiện kiểm soát chất lượng nguyên liệu đầu vào
							li
								p Thực hiện kiểm soát chất lượng nguyên liệu đầu vào
							li
								p Thực hiện kiểm soát chất lượng nguyên liệu đầu vào
				.content-hr-detail-bottom
					.title-hr-detail-bottom
						h2 Phúc lợi
					.desc-hr-detail-bottom
						ul
							li
								p Thực hiện kiểm soát chất lượng nguyên liệu đầu vàoThực hiện kiểm soát chất lượng nguyên liệu đầu vào
							li
								p Thực hiện kiểm soát chất lượng nguyên liệu đầu vào
							li
								p Thực hiện kiểm soát chất lượng nguyên liệu đầu vào
							li
								p Thực hiện kiểm soát chất lượng nguyên liệu đầu vào
				.content-hr-detail-bottom
					.title-hr-detail-bottom
						h2 Liên hệ nộp hồ sơ
					.desc-hr-detail-bottom
						.table_project-detail
							table
								tbody
									tr
										td
											strong Văn phòng
										td
											p Công ty TNHH Thực Phẩm Tân Việt Nhật tại số 26C Lê Quốc Hưng, Phường 12, Quận 4, Tp.HCM
									tr
										td
											strong Email
										td
											p tuyendungtvn@tokyodeli.com.vn hoặc vanthuan@tokyodeli.com.vn
									tr
										td
											strong Số điện thoại liên hệ
										td
											p 02839431502 line số 204 (Mr. Việt PNS)
									tr
										td
											strong Di động
										td
											p 0901313008 (Mr. Việt)
			.col-12.col-md-5.col-lg-3
				.bg-right-detail-bottom
					.right-hr-detail-2
						.title-right-hr-detail-2
							h3 liên hệ
						ul
							li
								p Mọi thắc mắc xin liên hệ qua email:
								p tuyendungtvn@tokyodeli.com.vn
							li
								p Hoặc số điện thoại:
								p 02839431502
				.bg-right-detail-bottom-2
					.right-hr-detail-3
						.title-right-hr-detail-3
							h3 vị trí khác
						ul
							li
								a(href="") Nhân viên QC sản xuất
								p Hết hạn: 22.07.2020
							li
								a(href="") Nhân viên QC sản xuất
								p Hết hạn: 22.07.2020
							li
								a(href="") Nhân viên QC sản xuất
								p Hết hạn: 22.07.2020
							li
								a(href="") Nhân viên QC sản xuất
								p Hết hạn: 22.07.2020
							li
								a(href="") Nhân viên QC sản xuất
								p Hết hạn: 22.07.2020