<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
    <!-- <add name="Trang chủ - Dự án" value="1" resourcefile="" /> -->
  </position>
  <templatelist xsltname="ThucDon.xslt" name="Danh sách thực đơn" />
  <templatedetail xsltname="ThucDonDetail.xslt" name="Thực đơn chi tiết"/>
</templates>
