<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position><!-- <add name="Trang chủ - Dự án" value="1" resourcefile="" /> --></position>
  <templatelist xsltname="ThucDon.xslt" name="Danh sách thực đơn"/>
  <templatelist xsltname="Site5-Product.xslt" name="Site 5 danh sách thực đơn"/>
  <templatedetail xsltname="ThucDonDetail.xslt" name="Thực đơn chi tiết"/>
  <templatedetail xsltname="Site5-ProductDetail.xslt" name="Site 5 thực đơn chi tiết"/>
</templates>