section.block_s-6
	.container
		.block-title
			.title-zone
				h2 Tin tức
			.nav-arrow
				.nav-arrow-prev
					i.ri-arrow-left-line
				.nav-arrow-next
					i.ri-arrow-right-line
		.swiper-container.home_slide
			.swiper-wrapper
				- for (i=0; i<8; i++)
					.swiper-slide
						.wrapper
							.card_img
								.img
									img(src="./img/news-list/news-1.png", alt="")
							.content_news
								.date
									time 01.06.2020
								.card_title_news
									a(href="") Khai trương hàng tháng thứ 15, Tokyo Deli âm thầm chinh phục giới trẻ
								.btn-icon
									a(href="") Xem thêm
										span.ri-arrow-right-circle-fill
			.swiper-pagination
	.map-store
		.container
			.row
				.col-lg-8
					.block_card
						.img
							img(src="./img/map-store.jpg", alt="")
							.card_content
								p Hệ hống cửa hàng
								h3 Tìm cửa hàng Tokyo Deli gần bạn nhất
								.btn_card
									a(href="") Tìm cửa hàng