<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<position>
		<add name="Menu chính" value="1" resourcefile=""/>
		<add name="Menu footer" value="2" resourcefile=""/>
		<add name="Trang chủ - chúng tôi là ai" value="4" resourcefile=""/>
		<add name="Trang chủ - dịch vụ theo yêu cầu" value="8" resourcefile=""/>
		<add name="Home Service 2" value="16" resourcefile=""/>
	</position>
</settings>
