<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<position>
		<add name="Menu chính" value="1" resourcefile=""/>
		<add name="Menu footer" value="2" resourcefile=""/>
		<add name="Trang chủ - chúng tôi là ai" value="4" resourcefile=""/>
		<add name="Trang chủ - dịch vụ theo yêu cầu" value="8" resourcefile=""/>
		<add name="Home Service 2" value="16" resourcefile=""/>
		<add name="Thẻ thành viên" value="32" resourcefile=""/>
		<add name="Tin tức" value="64" resourcefile=""/>
		<add name="Site 5 - Footer" value="256" resourcefile=""/>
		<add name="Site 5 - Hỗ trợ" value="512" resourcefile=""/>
		<add name="Site 5 - Product Catalog" value="1024" resourcefile=""/>
		<add name="Site 5 - Home Catalog" value="2048" resourcefile=""/>
		<add name="Site 3 - Home Product filter" value="4096" resourcefile=""/>
		<add name="Site 3 - Product Catalog" value="8192" resourcefile=""/>
	</position>
</settings>