section.block_member-search
	.container
		.block-title
			.head-title
				h1 Thẻ thành viên
			.head-title-zone
				.title
					ul 
						li.active
							a(href="#") Các loại thẻ
						li 
							a(href="#") Tra cứu
		.row
			.col-lg-6
				.wrap-form
					.text 
						p Vui lòng nhập thông tin để tra cứu điểm tích lũy của thẻ
					.row
						.form-group.col-12
							.icon
								em.material-icons group
							input.form-control(type='text',placeholder="Tên khách hàng")
						.form-group.col-12
							input.form-control(type='text',placeholder="Mã số thẻ")
					.frm-btnwrap
						.frm-btn
							input(type="submit" value ="Tra cứu")