section.block_menu
	.container
		.block-title
			.head-title
				h1 Thực đơn
		.row
			.col-xl-3.col-md-3
				.side-navigation-wrapper
					.title-wrapper
						h2 Thực đơn
					ul.side-navigation
						li.open
							.title
								a(href="#") Món mới
								em.lnr.lnr-chevron-down
							ul.nav-sub
								li
									a(href="#") sushi
								li
									a(href="#") sushi
								li
									a(href="#") sushi
						li
							.title
								a(href="") Combo
								em.lnr.lnr-chevron-down
							ul.nav-sub
								li
									a(href="#") sushi
								li
									a(href="#") sushi
								li
									a(href="#") sushi
						li
							.title
								a(href="#") Cơm văn phòng
								em.lnr.lnr-chevron-down
							ul.nav-sub
								li
									a(href="#") Sushi
								li
									a(href="#") Sashimi
								li
									a(href="#") Hotpot
								li
									a(href="#") Yaki
								li
									a(href="#") Maki
								li
									a(href="#") Salad
								li
									a(href="#") GunKan
								li
									a(href="#") Nigiri
								li
									a(href="#") Hako
								li
									a(href="#") Teppan
								li
									a(href="#") Appetizer
								li
									a(href="#") Fuirai
								li
									a(href="#") Tempura
								li
									a(href="#") Udon
								li
									a(href="#") Doburi
								li
									a(href="#") Curry
						li
							.title
								a(href="") Set
								em.lnr.lnr-chevron-down
							ul.nav-sub
								li
									a(href="#") sushi
								li
									a(href="#") sushi
								li
									a(href="#") sushi
						li
							.title
								a(href="") Bento box
								em.lnr.lnr-chevron-down
							ul.nav-sub
								li
									a(href="#") sushi
								li
									a(href="#") sushi
								li
									a(href="#") sushi
						li
							.title
								a(href="") Party set
								em.lnr.lnr-chevron-down
							ul.nav-sub
								li
									a(href="#") sushi
								li
									a(href="#") sushi
								li
									a(href="#") sushi
			.col-xl-9.col-md-9
				.block_name_category
					.name_category Cơm văn phòng
					.area_category Khu vực
				.row
					.col-xl-4.col-md-6.col-xs-6
						a(href="menu-detail.html")
							.card_img
								.img
									img(src="img/menu/1.png", alt="")
								.name_food
									a(href="") Tô cơm cá hồi
								.item-money
									ul
										li
											.discount
												p 55.000 VND
										li
											.price
												p 62.000 VND